# Muhammad Huzaifa Shaikh (19b-056-SE) SEC:A

In [1]:
#1
a = 3
b = 7
result = a + b
print(result)

10

In [3]:
#2
a = 3
b = 2
result = a * b
print(result)

6

In [ ]:
#3
a = 5
b = 2
result = a / b
print(result)

In [ ]:
#4
a = 4
b = 2
result = a / b
print(result)

In [4]:
# 5
print((2 * 3) + 1)
print((3 + 1) * 3)
print(4.321 / (3 + 10))
print((3 - 2) + 1)

7
12
0.3323846153846154
2

In [5]:
# 6
print(2 ** 3)
print(2 ** 4)
print(14 // 3)
print(14 % 3)

8
16
4
2

In [6]:
# 7
def f(x):
    result = x + 1
    return result
f(3)

4

In [7]:
# 8
print(abs(-4))
print(abs(4))
print(abs(-3.2))

4
4
3.2

In [9]:
# 9
print(min(6, -2))
print(max(6, -2))
print(min(2, -4, 6, -2))
print(max(12, 26.5, 3.5))

-2
6
-4
26.5

In [12]:
# exercise 2.1
# part a
print(1 + 2 + 3 + 4 + 5)

15

In [11]:
# part b
sara_age = eval(input("Enter sara age: "))
mark_age = eval(input("Enter mark age: "))
fatima_age = eval(input("Enter fatima age: "))
average = ((sara_age + mark_age + fatima_age) / 3)
print(average)

Enter sara age: 23
Enter mark age: 19
Enter fatima age: 31
24.333333333333332

In [24]:
# part c
print(403 // 73)

5

In [25]:
# part d
print(403 % 73)

38

In [27]:
# part e
print("two to the power 10 is: ", 2 ** 10)

two to the power 10 is:  1024

In [29]:
# part f
sara_height = eval(input("enter sara height: "))
mark_height = eval(input("enter mark height: "))
print(abs(sara_height - mark_height))

enter sara height: 54
enter mark height: 57
3

In [9]:
# part g
min(34.99, 29.95, 31.50)

29.95

In [13]:
# 10
a = 2
b = 3
x = a < b
print(x)
y = b < a
print(y)
z = (5 - 1) > (2 + 1)
print(z)

True
False
True

In [15]:
# 11
print(3 == 3)
print((3 + 5) == (4 + 4))
print(3 == (5 - 3))
print(3 <= 4)
print(3 >= 4)
print(3 != 4)

True
True
False
True
False
True

In [10]:
# exercise 2.2
# part a
2 + 2 < 4

False

In [11]:
# part b
7 // 3 == 1 + 1

True

In [12]:
# part c
3 ** 2 + 4 ** 2 == 25

True

In [13]:
# part d
2 + 4 + 6 > 12

False

In [15]:
# part e
1387 % 19 == 0

True

In [16]:
# part f
31 % 2 == 0

False

In [17]:
# part g
min(34.99, 29.95, 31.50) < 30.00

True

In [17]:
# 12
print((2 < 3) and (4 > 5))
print((2 < 3) and True)
print((3 < 4) or (4 < 3))
print((3 < 2) or (2 < 1))
print(not(3 < 4))

False
True
True
False
False

In [19]:
# 13
x = 4
print(x)
print(4 * x)
counter = 4 * x
print(counter)

4
16
16

In [30]:
# exercise 2.3
# part a
a = 3
# part b
b = 4
# part c
c = (a * b) + (b * b)
print(c)

28

In [21]:
# 14
x = 4
x = 7
print(x)

7

In [23]:
# 15
print("Hello, World")
s = "hello"
print(s)
s == "hello"
t = "world"
print(s != t)
print(s == t)
print(s < t)
print(s > t)
print( s + t)
print(s + ' ' + t)

Hello, World
hello
True
False
True
False
helloworld
hello world

In [26]:
# 16
s = "hello"
print('h' in s)
print('g' in s)
print('ll' in s)
print(len(s))

True
False
True
5

In [35]:
# Exercise 2.4
s1 = "ant"
s2 = "bat"
s3 = "cod"
# part a
print(s1 + " " + s2 + " " + s3)
# part b
print(10 * (s1 + " "))
# part c
print(s1 + "" + (2 * (s2 + " ")) + (3 * (s3 + " ")))
# part d
print(7 * (s1 + " " + s2 + " "))
# part e
print(5 * (s2 + s2 + s3 + " "))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
antbat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

In [37]:
# exercise 2.5
s = "0123456789"
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9

In [39]:
# exercise 2.6
words = ["bat", "ball", "barn", "basket", "badminton"]

badminton
bat

In [47]:
# exercise 2.7
grades =[9, 7, 7, 10, 3, 9, 6, 6, 2]
# part a
print(grades.count(7))
# part b
grades[-1] = 4
print(grades)
# part c
print(max(grades))
# part d
grades.sort()
print(grades)
# part e
average = sum(grades) / 9
print(average)

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

In [56]:
# exercise 2.8
# part a
((2 + 3) == 4) or (a >= 5)

False

In [59]:
# part b
(((lst[1]) * (-3)) < (-10)) == 0

True

In [58]:
# part c
((lst[1]) * (-3) < (-10)) in [0, True]

True

In [60]:
# part d
(2 * (3 ** 2))

18

In [61]:
# part e
4 / 2 in [1, 2, 3]

True

In [66]:
# exercise 2.9
# part a
print(type(False + False))

<class 'int'>

In [67]:
# part b
print(type(2 * (3 ** 2.0)))

<class 'float'>

In [69]:
# part c
print(type((4 // 2) + (4 % 2)))

<class 'int'>

In [70]:
# part d
print(type((2 + 3 == 4) or (5 >= 5)))

<class 'bool'>

In [1]:
# exercise 2.10
# part a
from math import sqrt
perpendicular = a
base = b
hypotenuse = sqrt((a ** 2) + (b ** 2))
# part b
hypotenuse = sqrt((a ** 2) + (b ** 2)) == 5
# part c
from math import pi
radius = a
area = pi * radius ** 2
# part d
radius = r
(x - a) ** 2 + (y - b) ** 2 < r ** 2

NameError: name 'a' is not defined

In [3]:
#Question 3
from fractions import Fraction
a = 5
b = 8
c = Fraction(a, b)
print(c)

5/8

In [11]:
#2.11
lst=[-7,-6,-5,-4,-3,-2,-1]
a=sum(lst)
print(a)

-28

In [15]:
#2.11(b)
#Ages
age_of_17=9
age_of_24=10
age_of_21=11
age_of_27=12
print("The average age is:",(age_of_17+age_of_24+age_of_21+age_of_27)/4)

The average age is: 10.5

In [16]:
#2.11(c)
power=2**(-20)
print(power)

9.5367431640625e-07

In [17]:
#2.11(d)
no_of_time=4356/61
print(no_of_time)

71.40983606557377

In [22]:
#2.11(e)
remainder=4365%61
print("The remainder is:",remainder)

The remainder is: 34

In [35]:
#2.12
s1='-'
s2='+'
print(s1+s2)
print(s1+s2+s1)
print(s2+s1+s1)
print(s2+s1+s1+s2+s1+s1)
print(s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2+s1+s1+s2)
print(s2+s1+s2+s2+s2+s1+s1+s2+s1+s2+s2+s2+s1+s1+s2+s1+s2+s2+s2+s1+s1+s2+s1+s2+s2+s2+s1+s1+s2+s1+s2+s2+s2+s1+s1)

-+
-+-
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+--+
+-+++--+-+++--+-+++--+-+++--+-+++--

In [52]:
#2.13
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[25])
print(s[24])
print(s[16])

a
c
z
y
q